.register {
  height: 100vh;
  background: url("../assets/bg.jpg") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: rgba(0, 0, 0, 0.8);
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  color: white;
  width: 300px;
  overflow-y: scroll;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
